.cell {
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
  cursor: pointer;
}

.light {
  background-color: #eeeed2;
}

.dark {
  background-color: #769656;
}

.selected {
  background: #baca44;
}

.blocked {
  cursor: not-allowed;
}