.cell {
  border: 1px solid #999;
  float: left;
  font-size: 34px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
  cursor: pointer;
  -webkit-text-stroke-width: 1px;
}

.light {
  background-color: #eeeed2;
}

.dark {
  background-color: #769656;
}

.selected {
  background: #baca44;
}

.blocked {
  cursor: not-allowed;
}