.actions {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 20px;
}

.input-container {
    max-width: 700px;
    min-width: 550px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

button {
    height: 30px;
}

textarea {
    flex: 1 1 auto;
    height: 30px;
    font-size: 18px;
    resize: vertical;
}

label {
    font-family: 'Times New Roman';
    font-size: 20px;
    display: block;
}


@media (width <=600px) {
    .input-container {
        max-width: 400px;
        min-width: 400px;
        flex-direction: column;
    }

    textarea {
        height: 50px;
    }
}

@media (width <=500px) {
    .input-container {
        max-width: 325px;
        min-width: 325px;
        flex-direction: column;
    }
}

@media (width <=400px) {
    .input-container {
        max-width: 275px;
        min-width: 275px;
        flex-direction: column;
    }
}