.game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.right-panel {
    flex-grow: 2;
    flex-shrink: 2;
    padding-left: 50px;
}

@media (width <= 500px) {
    .right-panel {
        padding-left: 40px;
    }
  }

  @media (width <= 400px) {
    .right-panel {
        padding-left: 35px;
    }
  }